<div class="center-wrapper">
  <div  *ngIf="!showRegisterMessage" class="container">
    <div class="left">
      <img [src]="imagenPerfil" width="160" height="160" />
      <h2>{{ nombre || 'Invitado' }} <button (click)="goEditarPerfil()"  class="edit-btn">✏️ Editar perfil</button></h2>
      <div class="filename">{{ nombreImagen }}</div>
      <div class="info">
        <p><b>Pasatiempo:</b> {{pasatiempo}}</p>
        <p><b>Edad:</b> {{ edad }} años</p>
        <p *ngIf="numeroIdentidad && numeroIdentidad !== 'No aplicable'">
          Identidad: {{ numeroIdentidad }}
        </p>
      </div>
    </div>
    <div class="pokemon-section">
      <div class="title-row">
        <h2>Mis Pokémon</h2>
        <button  (click)="goBackToInicio()" class="edit-btn">✏️ Editar Equipo</button>
      </div>
  
      <div class="pokemon-card" *ngFor="let pokemon of selectedPokemons">
        <img *ngIf="pokemon.front_default" [src]="pokemon.front_default" alt="{{ pokemon.name }} front"/>
        <div class="pokemon-info">
          <h3>{{ pokemon.name | uppercase }}</h3>
          <p>{{ pokemon.type | uppercase   }}</p>
          <div class="stats">
            <div class="stat-row">
              <div class="stat-label">HP</div>
              <div class="stat-bar-container">
                <div class="stat-bar-fill" [style.width]="getStatWidth(pokemon, 'hp')"></div>
              </div>
              <div class="stat-value">{{ getStatValue(pokemon, 'hp') }}</div>
            </div>
            
          
            <div class="stat-row">
              <div class="stat-label">Ataque</div>
              <div class="stat-bar-container">
                <div class="stat-bar-fill" [style.width]="getStatWidth(pokemon, 'attack')"></div>
              </div>
              <div class="stat-value">{{ getStatValue(pokemon, 'attack') }}</div>
            </div>
          
            <div class="stat-row">
              <div class="stat-label">Defensa</div>
              <div class="stat-bar-container">
                <div class="stat-bar-fill" [style.width]="getStatWidth(pokemon, 'defense')"></div>
              </div>
              <div class="stat-value">{{ getStatValue(pokemon, 'defense') }}</div>
            </div>
          
            <div class="stat-row">
              <div class="stat-label">Ataque Especial</div>
              <div class="stat-bar-container">
                <div class="stat-bar-fill" [style.width]="getStatWidth(pokemon, 'special-attack')"></div>
              </div>
              <div class="stat-value">{{ getStatValue(pokemon, 'special-attack') }}</div>
            </div>
          
            <div class="stat-row">
              <div class="stat-label">Defensa Especial</div>
              <div class="stat-bar-container">
                <div class="stat-bar-fill" [style.width]="getStatWidth(pokemon, 'special-defense')"></div>
              </div>
              <div class="stat-value">{{ getStatValue(pokemon, 'special-defense') }}</div>
            </div>
          
            <div class="stat-row">
              <div class="stat-label">Velocidad</div>
              <div class="stat-bar-container">
                <div class="stat-bar-fill" [style.width]="getStatWidth(pokemon, 'speed')"></div>
              </div>
              <div class="stat-value">{{ getStatValue(pokemon, 'speed') }}</div>
            </div>
          </div>
                        
        </div>
      </div>
    </div>
  </div>
</div>
