<div class="center-wrapper">
  <div *ngIf="showRegisterMessage" class="register-warning">
    <h2>🔒 Necesitas registrarte primero</h2>
    <p>Por favor completa tu perfil antes de seleccionar tu equipo Pokémon.</p>
    <button class="btn-reg" (click)="router.navigate(['/registro'])">Ir al registro</button>
  </div>
  <div  *ngIf="!showRegisterMessage" class="container">
    <div class="left">
      <img [src]="imagenPerfil" width="160" height="160" />
      <h2>{{ nombre || 'Invitado' }} <a (click)="goEditarPerfil()"  class="edit-btn">✏️ Editar perfil</a></h2>
      <div class="filename">{{ nombreImagen }}</div>
      <div class="info">
        <div class="info-row">
          <span class="label">Pasatiempo:</span>
          <span class="value">{{ pasatiempo || ' N/A' }}</span>
        </div>
        <div class="info-row">
          <span class="label">Edad:</span>
          <span class="value">{{ edad }} años</span>
        </div>
        <div class="info-row" *ngIf="numeroIdentidad && numeroIdentidad !== 'No aplicable'">
          <span class="label">Identidad:</span>
          <span class="value">{{ numeroIdentidad }}</span>
        </div>
      </div>
    </div>
    <div class="pokemon-section">
      <div class="title-row">
        <h2>Mis Pokémon</h2>
        <button  (click)="goBackToInicio()" class="edit-team-btn">✏️ Editar Equipo</button>
      </div>
  
      <div class="pokemon-card" *ngFor="let pokemon of selectedPokemons">
        <img *ngIf="pokemon.front_default" [src]="pokemon.front_default" alt="{{ pokemon.name }} front"/>
        <div class="pokemon-info">
          <h3>{{ pokemon.name | uppercase }}</h3>
          <p>{{ pokemon.type | uppercase   }}</p>
          <div class="stats">
            <div class="stat-row">
              <div class="stat-label">HP</div>
              <div class="stat-bar-container">
                <div class="stat-bar-fill" [style.width]="getStatWidth(pokemon, 'hp')"></div>
              </div>
             
            </div>                      
            <div class="stat-row">
              <div class="stat-label">Ataque</div>
              <div class="stat-bar-container">
                <div class="stat-bar-fill" [style.width]="getStatWidth(pokemon, 'attack')"></div>
              </div>
             
            </div>
          
            <div class="stat-row">
              <div class="stat-label">Defensa</div>
              <div class="stat-bar-container">
                <div class="stat-bar-fill" [style.width]="getStatWidth(pokemon, 'defense')"></div>
              </div>
             
            </div>
          
            <div class="stat-row">
              <div class="stat-label">Ataque Especial</div>
              <div class="stat-bar-container">
                <div class="stat-bar-fill" [style.width]="getStatWidth(pokemon, 'special-attack')"></div>
              </div>
             
            </div>
          
            <div class="stat-row">
              <div class="stat-label">Defensa Especial</div>
              <div class="stat-bar-container">
                <div class="stat-bar-fill" [style.width]="getStatWidth(pokemon, 'special-defense')"></div>
              </div>
             
            </div>
          
            <div class="stat-row">
              <div class="stat-label">Velocidad</div>
              <div class="stat-bar-container">
                <div class="stat-bar-fill" [style.width]="getStatWidth(pokemon, 'speed')"></div>
              </div>
             
            </div>
          </div>
                        
        </div>
      </div>
    </div>
  </div>
</div>
