<div class="container">
  <div class="left">
    <img [src]="imagenPerfil" width="160" height="160" />
    <h2>{{ nombre || 'Invitado' }}</h2>
    <div class="filename">{{ nombreImagen }}</div>
    <div class="info">
      <p><b>Pasatiempo:</b> {{pasatiempo}}</p>
      <p><b>Edad:</b> {{ edad }} años</p>
      <p *ngIf="numeroIdentidad && numeroIdentidad !== 'No aplicable'">
        Identidad: {{ numeroIdentidad }}
      </p>
    </div>
  </div>
  
    <div class="right">
      <h1>¡Ya casi terminamos!</h1>
      <p>Selecciona 3 Pokémon para que sean parte de tu equipo</p>
      <div *ngIf="showMaxMessage" class="max-selection-message">
        <p>Ya tienes 3 Pokémon seleccionados. No puedes agregar más.</p>
      </div>
      <div class="search-box">
        <input 
        type="text" 
        [(ngModel)]="searchText"
        (keyup.enter)="searchPokemon()"
        placeholder="🔍 Buscar por índice, nombre..."        
        />
        
        <div *ngIf="isSearching">
          <h2>Resultado de Búsqueda</h2>
      
          <div *ngIf="searchResult" class="pokemon-container">
            <div
              class="pokemon-card"
              (click)="selectFromSearch(searchResult)"
              [class.selected]="selectedPokemons.includes(searchResult)"
            >
              <p>{{ searchResult.name | uppercase }}</p>
              <img *ngIf="searchResult.front_default" [src]="searchResult.front_default" />
            </div>
          </div>
      
          <p *ngIf="!searchResult">No se encontró ningún Pokémon con ese nombre o ID.</p>
        </div>

        

      </div>
    </div>
    <div class="pokemon-grid">
      <div class="pokemon-card"
      *ngFor="let pokemon of pokemons"
      (click)="toggleSelect(pokemon)"
      [class.selected]="selectedPokemons.includes(pokemon)">    
        <p>{{ pokemon.name | uppercase }}</p>
        <img *ngIf="pokemon.front_default" [src]="pokemon.front_default" />
      </div>
      <button class="btn"*ngIf="selectedPokemons.length === 3" (click)="goToEquipo()">Guardar</button>
    </div>
</div>
