

.pokemon-card.selected {
  border-color: #4caf50;
  box-shadow: 0 0 10px rgba(76, 175, 80, 0.6);
  background-color: #e8f5e9;
}


.max-selection-message {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}

.register-message {
  background-color: #ffcccc;
  color: #ff0000;
  padding: 10px;
  text-align: center;
  border: 1px solid #ff0000;
  margin: 20px 0;
}

.register-message a {
  color: #007bff;
  text-decoration: none;
}

.register-message a:hover {
  text-decoration: underline;
}


-------------------
* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px; 
  box-sizing: border-box;
}
.container {
  display: flex;
  background-color: white;
  border-radius: 20px;
  width: 95%;
  max-width: 1100px;
  overflow: hidden;
  max-height: 90vh;
  
}

.left {
  background-color: #facc15;
  width: 55%;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #1e3a8a;
  margin: 20px 0;
  border-radius: 20px; 
  box-shadow: 0 4px 12px rgba(0,0,0,0.1); 
}

.left img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  border: 6px solid white;
  margin-bottom: 20px;
}

.left h2 {
  margin: 0 0 10px 0;
}

.left .info {
  width: 100%;
  font-size: 16px;
  color: black;
}

.info b {
  display: inline-block;
  width: 100px;
}
.info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  gap: 10px;
}

.label {
  font-weight: bold;
  min-width: 100px;
  text-align: left;
}

.value {
  text-align: right;
  flex-grow: 1;
}


/* Parte derecha - selección */
.right {
  width: 65%;
  padding: 40px;
}

.right h1 {
  color: #1e3a8a;
  font-size: 24px;
  margin-bottom: 10px;
}

.right p {
  color: #6b7280;
  margin-bottom: 20px;
}

.search-box {
  margin-bottom: 20px;
}

.search-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  font-size: 14px;
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-bottom: 20px;
}

.pokemon-card {
  background-color: #f9fafb;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.pokemon-card:hover {
  transform: scale(1.05);
}

.pokemon-card img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.pokemon-card .tag {
  background-color: #1e3a8a;
  color: white;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 12px;
  display: inline-block;
  margin-top: 5px;
}

.btn {
  width: 100%;
  padding: 12px;
  background-color: #2a4061;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.btn-reg{
  width: 100%;
  padding: 12px;
  background-color: #2a4061;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

button.btn:disabled {
  width: 100%;
  padding: 12px;
  background-color: #d1d5db;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  cursor: not-allowed;
}

